@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --clr-txt-w:#fff;
    --clr-txt-b:#000;
    --clr-br-rose:rgba(248,76,250,0.9);
    --clr-yellow:#ffd466;
    --clr-footer:#222831;
    --clr-bg-grad:#fabe6bb9;
    --clr-txt-gray:#747575;

}
.content{
    padding-left: clamp(0.5rem,5%, 100px);
    padding-right: clamp(0.5rem,5%, 100px);
    margin-top: 0.5rem;
}

/* heroes */
.heroHome {
    height: 900px;
    background-image: linear-gradient(var(--clr-br-rose),var(--clr-bg-grad)), url("/img/bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.heroPage {
    height: 900px;
    background-image: linear-gradient(var(--clr-br-rose),var(--clr-bg-grad)), url("/img/bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.heroHome{
    display: flex;
    justify-content: space-between;
}
.heroPage{
    display: flex;
    justify-content: baseline;
}

.heroHome h2 {
    font-weight: bold;
    font-size: clamp(1.25rem, 20vw, 6rem);
    /* padding-top: 10rem; */
}
.heroPage h2 {
    font-weight: bold;
    font-size: clamp(1.25rem, 20vw, 6rem);
    margin-top: 500px;
    text-align: center;
}

.heroHome span{
    font-weight: bold;
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* navbar */
.navbar{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 3rem;
    top: -10px;
    padding-top: clamp(0.5rem, 2%, 1.2rem);
}


.burger{
    display: flex;
    color: #d3d3d3;
    align-items: center;
}

.burger p {
    margin-left:0.5rem;
}

.navbar ul{
    display: none;
}

.navbar ul li{
    margin-left: 3rem;
}

/* home page */
.home{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
}

/* card */
.card{
    margin-top: 2rem;
    max-width: 500px;
    margin: 1rem;
    padding: 1rem;
}


.cardImg{
    width: clamp(170px, 90%, 500px);
    height: 350px;
}

.cardImg img {
    width: 100%;
    height: 100%;
}

.card p {
    max-width: 350px;
}

/* footer */
.footer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: var(--clr-footer);
    color: var(--clr-txt-w);
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-between;
}

.icons{
    border: #747575 1px solid;
    padding: 5px;
    border-radius: 100%;
    margin-right: 1rem;
}
.title_footer{
    width: 200px;

}


.text-gray-footer{
    color: var(--clr-txtfooter);
} 
.txt-gray{
    color: var(--clt-txt-gray);
}

h3{
    padding-bottom: 2vh;
}
.footer h3 span{
    color: var(--clr-yellow);
}
.footer p{
    padding-bottom: 1.5vh;

}
.img_footer img{
    margin-right: 1vw;
    height: 90px;
    width: 90px;
    border-radius: 10px;
}

.footer h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.footer span{
    color: var(--clr-bg-yellow);
}
.socialIcon{
    display: flex;
    font-size: 1.5rem;
    color: var(--clr-txt-gray);
}

.socialIcon p{
    border: #747575 solid 1px;
    border-radius: 100px;
}

/* about page */
.about{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    color: var(--clr-txt-gray);
}

.about img{
    width: clamp(180px,90%, 700px);
}
.about span{
    color: var(--clr-bg-yellow);
}

.about h3{
    color: #000;
    font-weight: bold;
    margin-top: 1rem;
}
.women{
    position: relative;
}
.play{
    width: 70px;
    position: absolute;
    top: clamp(1000px,125%, 1400px);
    left:200px,
}

.happy{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

}

.aboutLeft{
    max-width: 700px;
}
.aboutRight{
    padding-top: 9em;
    max-width: 700px;
}

.aboutButton{
    display: flex;
    flex-wrap: wrap;
}

.spanGrey{
    font-weight: bold;
}

.aboutButton button{
    padding: 0.5rem;
    border: #747575 solid 1px;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    width: 150px;
}

.aboutButton button:active{
    background-color: var(--clr-yellow);
    color: #fff;
    border: none;
}

.aboutTextBloc{
    min-height: 200px;
    max-width: 450px;
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.managerDiv{
    margin-bottom: 4rem;
}

.rogerScott{
    max-width: 450px;
    border: solid 1px #bcbcbc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
}

.rogerScott

.rogerScott span{
    color: var(--clr-bg-yellow);
}
.rogerScott2 span{
    color: var(--clr-bg-yellow) ;
}

.rogerScott img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 1rem;
    margin-top: 1rem;
}
.rogerScott2{
    max-width: 450px;
    border: solid 1px #bcbcbc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    display: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
}

.rogerScott2 img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 1rem;
    margin-top: 1rem;
}

.yellowButton{
    background-color: var(--clr-yellow);
    color: #fff;
    border: var(--clr-bg-yellow);
}

.contact h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.contact{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact P {
    max-width: 300px;
}

.contactData{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact span{
    color: #000;
}


.contact p{
    color: var(--clr-txt-gray);
    margin-bottom: 1rem;
    display: flex;
}

.contactForm{
    background-color: #bcbcbc;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.contact img{
    width: clamp(180px,100%,500px);
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.message{
    height: 100px;
}

.contact button{
    max-width: 200px;
    height: 3rem;
}

/* slug page */

.slug{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}


.slug img{
    width: clamp(180px,100%,1100px);
}

.slugTitle{
    font-size: 2rem;
    text-align: center;
}

.slugContent{
    margin-top: 1rem;
    flex-wrap: wrap;
}

.search input{
    height: 2.5rem;
}

.recentBlog img{
    width: 100px;
}

.tagCloud{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tagCloud h3{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.tagCloud button{
    border: solid 1px #000;
    padding: 0.5rem;
    margin: 0.5rem;
}

.paragraph{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.paragraph h3{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.bottomTag button{
    border: solid 1px #000;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* comment */

.topComment{
    width: clamp(200px,);
    flex-wrap: wrap;  
    margin-top: 2rem;  
}

.topComment img{
    max-width: 150px;
    margin-right: 1.5rem;;
}

.topComment h4{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.topComment p {
    color: #747575;
}

.nbComment{
    /* font-weight: bold; */
    margin-top: 2rem;
    font-size: 1.5rem;
}

.comment{
    width: clamp(200px,);
    flex-wrap: wrap;  
    margin-top: 2rem;  
}

.comment img{
    max-width: 70px;
    height: 80px;
    margin-right: 1.5rem;
    border-radius: 100%;
}

.comment h4{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.comment p {
    color: #747575;
}

.comment button{
    margin-top: 1rem;
    font-size: 0.5rem;
    font-weight: bold;
    background-color: #bcbcbc;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
}
.postComment{
    margin-bottom: 3rem;
    padding-left: 5rem;
}

.postComment input{
    display: flex;
    justify-content: center;
}

.postComment button{
    background-color: #ffd466;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}


input{
    border: solid 1px var(--clr-txt-gray);
    border-radius: 10px;
    height: 2rem;
    margin-bottom: 1rem;
    width: clamp(180px,80%,600px);
}



@media  (min-width: 450px) {
    .navbar{
        background-color: #ffffff00;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
        color: var(--clr-txt-w);
    }
    .footer{
        align-items: center;
        justify-content: space-around;
    }
    .burger{
        display: none;
    }
    .topComment{
        flex-wrap: nowrap;
    }
    .comment{
        flex-wrap: nowrap;
    }
}



@media (min-width:750px) {
    .rogerScott2{
        display: block;
    }
    .managerDiv{
        display: flex;
        justify-content: space-between;
    }
    .inputs{
        padding-top: 4rem;
        width: 50%;
    }
    .contactForm{
        flex-direction: row-reverse;
    }
    .slugLeft{
        width: 65%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slug{
        justify-content: space-between;
    }
    .slugRight{
        width: 30%;
    }

    .slugButtom{
        width: 65%;
    }
    .play{
        left: 850px;
    }
}